.projects {
  padding: 100px 20px 20px;
  text-align: center;
  height: 100vh;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #282c34;
}

.project-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 0 10px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.project-image {
  width: 100%;
  border-radius: 10px;
}

.project-content {
  flex: 1;
  text-align: left;
}

.project-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-content p {
  font-size: 18px;
}

.button-container {
  margin-top: 20px;
}

.project-button {
  display: inline-block;
  background-color: #61dafb;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: aqua;
}

h3{
color: aqua;
}